<div class="container blog">

  <!-- TODO: Check if user is admin! -->
  <div style="margin-bottom: 20px;">
    <div style="float: right;">
      <a href="/blog/new" class="btn btn-primary btn-block">New Post</a>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-10 col-md-12 mx-auto"> <!--  style="text-align: center;" -->
      <div *ngFor="let post of posts; let i = index" class="post-preview">
        <div *ngIf="shouldShow(i)">
          <a href="#" style="color: #212529; font-size: 36px; font-weight: 800;">
            <h2 class="post-title">
              {{ post.title }}
            </h2>
          </a>
          <p class="post-meta"><span style="color: #868e96">Posted by </span>
            <a href="#" style="color: #212529">{{ post.username }}</a>
            <span style="color: #868e96"> on {{ post.published_date }}</span></p>
          <hr>
        </div>
      </div>

      <div style="text-align: center;">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [rotate]="true" [pageSize]="pageSize"
                        [ellipses]="false" [boundaryLinks]="true" style="display: inline-block;"></ngb-pagination>
      </div>
    </div>
  </div>
</div>
