  <!-- Example Bar Chart Card-->

  <div class="card mx-auto mb-3">
    <div class="card-header">
      <i class="fa fa-bar-chart"></i> Add Suggestion
    </div>
    <div class="card-body justify-content-center" [hidden]="!submitted">
      <h2>Thank you for your suggestion</h2>
    </div>
    <div class="card-body" [hidden]="submitted">
      <form #suggestionForm="ngForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <div class="form-row">
            <div class="col-md-6">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title"
                       required
                       [(ngModel)]="model.title" name="title" #title="ngModel">

            </div>
            <div class="col-md-6">
              <label for="type">Type of Suggestion</label>
              <select class="form-control" id="type" required>
                <option *ngFor="let type of types" [value]="type.SHORT">{{type.LONG}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="text">Explanation/Description</label>
          <textarea type="text" rows="10" cols="40" class="form-control" id="text"
                    [(ngModel)]="model.text" name="text" required></textarea>
        </div>
        <input class="btn btn-primary btn-block" type="submit" (click)="newSuggestion()" [disabled]="!suggestionForm.form.valid" value="Submit" />
      </form>
    </div>
  </div>

