<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
  <a class="navbar-brand" href="/"><img src="assets/img/maulbot.svg"/></a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
          aria-label="Toggle navigation" (click)="isNavToggle = !isNavToggle"
          [attr.aria-expanded]="!isNavToggle">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive"[ngbCollapse]="isNavToggle">
    <ul class="navbar-nav navbar-sidenav"  id="exampleAccordion">
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Home">
        <a class="nav-link" routerLink="/"  (click)="isNavToggle = true">
          <i class="fas fa-fw fa-home"></i>
          <span class="nav-link-text">Home</span>
        </a>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Updates">
        <a class="nav-link" href="/blogposts" (click)="isNavToggle = true">
          <i class="fas fa-fw fa-list-ul"></i>
          <span class="nav-link-text">Updates</span>
        </a>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Suggestions">
        <a class="nav-link" routerLink="/suggestions" (click)="isNavToggle = true">
          <i class="fal fa-fw fa-table"></i>
          <span class="nav-link-text">Suggestions</span>
        </a>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Discord">
        <a class="nav-link" href="https://discord.gg/4Ng3VgE" target="_blank">
          <i class="fab fa-fw fa-discord"></i>
          <span class="nav-link-text">Discord</span>
        </a>
      </li>

    </ul>
    <ul class="navbar-nav sidenav-toggler">
      <li class="nav-item">

      </li>
    </ul>
    <ul class="navbar-nav ml-auto">


      <li class="nav-item">
        <a class="nav-link" routerLink="/login" >
          <i class="fa fa-fw fa-sign-in-alt"> </i>Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register">
          <i class="fa fa-fw fa-user-plus"> </i>Register</a>
      </li>

      <!--{% if not user.is_authenticated %}

      {% else %}
      <li class="nav-item dropdown" id="notifications">
      </li>
      {% if request.user.is_superuser %}
      <li class="nav-item">
        <a class="nav-link" href="/admin">
          <i class="fa fa-fw fa-dashboard"> </i>DjangoCP</a>
      </li>
      {% endif %}
      <li class="nav-item">

        <a class="nav-link" data-toggle="modal" data-target="#logoutModal">
          <i class="fa fa-fw fa-sign-out"> </i>Logout</a>
      </li>
      {% endif %}-->
    </ul>
  </div>
</nav>
