<div class="card">
  <div class="card-header">
    <h3 class="card-title">
      <div class="row">
        <div class="pull-right text-center col-12" style="margin-top:-2px;">
          Overall Highscores
        </div>
      </div>
    </h3>
  </div>


  <table class="card-body table table-striped " *ngIf="highscores; else elseblock" style="margin-top:0;">
    <tr>
      <th style="width: 30px;">#</th>
      <th style="width: 20px;"></th>
      <th>Username</th>
      <th style="width: 150px;text-align:right;">Level</th>
      <th style="width: 170px;text-align:right;">Experience</th>
    </tr>
    <ng-container *ngFor="let player of highscores; let i = index">
      <tr class="table-hover" *ngIf="shouldShow(i)">
        <td>{{i+1}}</td>
        <td><img *ngIf="hasRankIMG(i)" src="{{getRankIMG(i)}}"></td>
        <td *ngIf="player.player.linkedPlayer; else notlinked">
          {{player.player.linkedPlayer.username}}({{player.name}})
        </td>
        <ng-template #notlinked>
          <td>{{player.name}}</td>
        </ng-template>
        <td style="text-align:right;">{{player.total_lvl}}</td>
        <td style="text-align:right;">{{player.total_exp}}</td>
      </tr>
    </ng-container>
  </table>
  <ng-template #elseblock>
    <div class="col-12 card-body justify-content-center"><img class="rounded mx-auto d-block"
                                                              src="/static/ang/assets/img/loading.gif"></div>
  </ng-template>
  <div class="card-footer">
    <div class="row justify-content-center">
      <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [rotate]="true" [pageSize]="pageSize"
                      [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
    </div>
  </div>
</div>
