<div class="row">
  <div class="col-lg-7">
    <section widget class="widget">

      <div class="widget-body">

          <div class="row">
            <div class="col-md-3">
                <span class="d-flex mr-3 rounded-circle  text-center"
                      style="text-align: center;width: 64px;">
                                                <i class="fas fa-user"
                                                   style="display:inline-block;font-size: 112px;width: 112px;height: 112px;text-align: center;vertical-align: bottom;"
                                                   aria-hidden="true"></i>
                                            </span>
            </div>
            <div class="col-md-6">
              <h3 class="mt-md mb-xs">Promises</h3>
              <address>
                <abbr title="Work email">e-mail:</abbr> <a href="mailto:#"> maryna.gils@example.com</a><br>
              </address>
            </div>
          </div>

      </div>
    </section>
  </div>
  <div class="col-lg-5" style="padding-top: 2rem">
    <section widget class="widget">
    <div class="card">
      <div class="card-header">
        Account settings
      </div>
      <div class="card-body">
        <p>Linked ingame account: Promises</p>
        <p>Linked realm: Northerend(Europe)</p>
        <p>Status <span style="color: green">Approved</span></p>
        <app-profile-page-link-account></app-profile-page-link-account>
      </div>
    </div>

    </section>
  </div>
</div>

